<div class="row">
  <div class="col-xs-12">
    <form class="search-form">
      <input 
        type="text" 
        class="search" 
        (keyup)="findMatches()" 
        placeholder="search for a city"
        #nameInput
      >
    </form>
    <div class="row">
        <div class="col-xs-12">
          <ul class="list-group suggestions">
            <li           
              class="list-group-item"
              (click)="openImageSearch(city.name)"
              *ngFor="let city of cities">
              {{city.name}} - {{city.country}}
            </li>
          </ul>
        </div>
      </div> 
  </div>  
</div>
