<div class="wrapper">
  <div class="row">
    <div class="col-xs-12">
      <form class="search-form">
        <input 
          type="text" 
          class="search" 
          (keyup)="findMatches()" 
          placeholder="type any city..."
          #nameInput
        >      
        <button
          class="btn"
          [ngClass]="{'disable': !selectedCity}"
          (click)="openImageSearch(selectedCity)"
        >
          Search Images
        </button>
        <p [hidden]="!selectedCity" class="description">Selected city: {{selectedCity}}</p>
      </form>
    </div> 
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group suggestions">
          <li           
            class="list-group-item"
            (click)="resetList(city.name)"  
            *ngFor="let city of cities">
            {{city.name}} - {{city.country}}
          </li>
        </ul>
      </div>
    </div> 
  </div>
</div>  
